body {
  Font-family: ‘Segoe UI’, Arial, sans-serif;
  background-color: #d0efff;
}

.navbar-nav {
  width: 100%;
}

.navbar-nav > li{
  padding-left:2rem;
  padding-right:2rem;
  }

  .container, .container-fluid {
    width: 100%;
  }

  #heading {
    text-align: center;
    background-image: url("https://images.pexels.com/photos/1655166/pexels-photo-1655166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 10rem;
    color: #ffffff;
    width: 100%;
    font-size: 6.5rem;
  }
    
  #welcomeHeadingBox {
    display: inline-block;
    padding: .5rem;
    margin: .2rem;
    border: .1rem solid darkblue;
    background-color: #2ac2f4;
  }

  #introText, #bookingIntroText {
    display: inline-block;
    justify-content: center;
    padding: 1rem;
    margin: .2rem;
    border: .1rem solid darkblue;
    background-color: #f3faff;
    width: 80%;
  }

  #homepageAccordionFirstImage, #homepageAccordionSecondImage, #homepageAccordionThirdImage, #homepageAccordionFourthImage {
    width: 100%;
  }

  #benefitsList, #improveList, #pilatesBullets, #medical, #qualifications {
    display: inline-block;
    padding: .5rem;
    margin: .2rem;
    border: .1rem solid darkblue;
    background-color: #f3faff;
  }

  .accordion-button {
    width: 23rem;
    padding: .5rem;
    margin: .2rem;
    border: .1rem solid darkblue;
    background-color:  #2ac2f4;
  }

  .card {
    margin: 0 auto;
    float: none; 
    margin-bottom: 1rem; 
    border: .1rem solid darkblue;
    width: 80%;
  }

  #bookingPhotoOne {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  

  //SET HOVER FEATURES OVER THE BUTTONS (NAVBAR BUTTONS, ACCORDION BUTTON ETC.) SO THAT THEY DO THINGS LIKE TURN A SLIGHTLY DIFFERENT COLOUR WHEN YOU CLICK ON THEM//
   
  //HOMEPAGE FORMATTING IS FINE ON EVERY DEVICE PART FROM - Samsung Galaxy A51/71, Galaxy Z Fold 5, Surface Duo, Surface Pro 7, Samsung Galaxy S20 Ultra, Samsung Galaxy S8+, Pixel 7, IPhone 14 Pro Max, iPhone 12 Pro, iPhone XR, iPhone SE.  Basically is now fine in tablet and desktop view, but need to do some work on it for mobile view.// 

  //HAVE TAKEN THE CONTACT DETAILS OUT OF THE FOOTER BAR (INC THE LINKS - THESE NEED ADDING BACK IN).  CONTACT DETAILS NEED TO GO BACK IN THE FOOTER//

  //WHEN FINISHED RESIZING FOR DIFFERENT SCREENS, DO HOVER AND ALTS AND WORK ON SPELL CHECKING AND BREAKING UP BIG BLOCKS OF TEXT//


