body {
  Font-family: ‘Segoe UI’, Arial, sans-serif;
  background-color: #d0efff;
}

.navbar-nav {
  width: 100%;
}

.navbar-nav > li{
  padding-left:2rem;
  padding-right:2rem;
  }

  .container, .container-fluid {
    width: 100%;
  }

  #heading {
    text-align: center;
    background-image: url("https://images.pexels.com/photos/1655166/pexels-photo-1655166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 10rem;
    color: #ffffff;
    width: 100%;
    font-size: 6.5rem;
  }
    
  #welcomeHeadingBox {
    display: inline-block;
    padding: .5rem;
    margin: .2rem;
    border: .1rem solid darkblue;
    background-color: #2ac2f4;
  }

  #introText {
    display: inline-block;
    justify-content: center;
    padding: 1rem;
    margin: .2rem;
    border: .1rem solid darkblue;
    background-color: #f3faff;
  }

  #homepageAccordionFirstImage, #homepageAccordionSecondImage, #homepageAccordionThirdImage, #homepageAccordionFourthImage {
    width: 100%;
  }

  #benefitsList, #improveList, #pilatesBullets, #medical, #qualifications {
    display: inline-block;
    padding: .5rem;
    margin: .2rem;
    border: .1rem solid darkblue;
    background-color: #f3faff;
  }

  .accordion-button {
    width: 23rem;
    padding: .5rem;
    margin: .2rem;
    border: .1rem solid darkblue;
    background-color:  #2ac2f4;
  }

  .card {
    margin: 0 auto;
    float: none; 
    margin-bottom: 1rem; 
    border: .1rem solid darkblue;
  }

  

  //SET HOVER FEATURES OVER THE BUTTONS (NAVBAR BUTTONS, ACCORDION BUTTON ETC.) SO THAT THEY DO THINGS LIKE TURN A SLIGHTLY DIFFERENT COLOUR WHEN YOU CLICK ON THEM//
   
  //HOMEPAGE FORMATTING IS FINE ON EVERY DEVICE PART FROM - Samsung Galaxy A51/71, Galaxy Z Fold 5, Surface Duo, Surface Pro 7, Samsung Galaxy S20 Ultra, Samsung Galaxy S8+, Pixel 7, IPhone 14 Pro Max, iPhone 12 Pro, iPhone XR, iPhone SE.  Basically is now fine in tablet and desktop view, but need to do some work on it for mobile view.// 
  //MEASUREMENTS FOR DEVICES DOESN'T WORK ON - 
  iPhone SE 375 x 667 – need to amend size of text over header image to fit on screen
iPhone XR 414 x 896, iPhone12 Pro 390 x 844, iPhone 14 Pro Max 430 x 932, Pixel 7 412 x 915, Samsung Galaxy S8 360 x 740, Samsung Galaxy S20 Ultra 412 x 915, iPad Mini 768 x 1024  – some images hanging slightly off the screen.  Need to amend size of text over header image to fit on screen.
Surface Duo 540 by 720, Galaxy Z Fold 5 344 x 822, Samsung Galaxy A51 A71 412 x 914 - text all aligns to left and heeader spreads out too far and goes off page//

//Devices is working fine on - desktop, iPad Air 820 x 1180, iPad Pro 1024 x 1366, , Surface Pro 7 912 x 1368, Asus Zenbook Fold 853 x 1280, Nest Hub Max 1280 x 800, Nest Hub 1024 x 600//


  //WHEN FINISHED RESIZING FOR DIFFERENT SCREENS, DO HOVER AND ALTS AND WORK ON SPELL CHECKING AND BREAKING UP BIG BLOCKS OF TEXT//