body {
  Font-family: ‘Segoe UI’, Arial, sans-serif;
  background-color: #d0efff;
}

.navbar-nav {
  width: 100%;
}

.navbar-nav > li{
  padding-left:2rem;
  padding-right:2rem;
  }

  .container, .container-fluid {
    width: 100%;
  }

  #heading {
    text-align: center;
    background-image: url("https://images.pexels.com/photos/1655166/pexels-photo-1655166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 10rem;
    color: #ffffff;
    width: 100%;
    font-size: 6.5rem;
  }

  #welcomeHeadingBox {
    display: inline-block;
    padding: .5rem;
    margin: .2rem;
    border: .1rem solid darkblue;
    background-color: #2ac2f4;
  }

  #introText, #secondBookingText {
    display: inline-block;
    justify-content: center;
    padding: 1rem;
    margin: .2rem;
    border: .1rem solid darkblue;
    background-color: #f3faff;
    width: 80%;
    font-size: 1.5rem;
  }

  .accordionImage {
    width: 100%;
  }

  #benefitsList, #improveList, #pilatesBullets, #medical, #qualifications, #onetooneList, #progressList, #beginnerList, #awareList, #offerList, #pregnantAndExperienced, #pregnantList{
    display: inline-block;
    padding: .5rem;
    margin: .2rem;
    border: .1rem solid darkblue;
    background-color: #f3faff;
    font-size: 1.5rem;
  }

  address {
    display: block;
    padding: .5rem;
    margin: .2rem;
    font-size: 1.5rem;
  }

  .accordion-button {
    width: 23rem;
    padding: .5rem;
    margin: .2rem;
    border: .1rem solid darkblue;
    background-color:  #2ac2f4;
  }

  .card {
    margin: 0 auto;
    float: none; 
    margin-bottom: 1rem; 
    border: .1rem solid darkblue;
    width: 80%;
    font-size: 1.5rem;
  }

  #bookingPhotoOne {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: .1rem solid darkblue;
  }

  #enquiriesForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
   border: .1rem solid darkblue;
   background-color: #f3faff;
   padding: 1rem;
   justify-content: center;
   align-items: center;
  }
  
  .flex-item {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }

  #submitButton {
    color: #111111;
    background-color: skyblue;
    border: .05rem solid black;
    font-weight: bold;
  }

  input, textarea {
    border: .05rem solid black;
  }

  .pricing {
    color: white;
  }

  @media only screen and (max-width: 768px) {
    #heading {
      text-align: center;
      background-image: url("https://images.pexels.com/photos/1655166/pexels-photo-1655166.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      height: 10rem;
      color: #ffffff;
      width: 100%;
      font-size: 4rem;
    }
  }
  

  //SET HOVER FEATURES OVER THE BUTTONS (NAVBAR BUTTONS, ACCORDION BUTTON ETC.) SO THAT THEY DO THINGS LIKE TURN A SLIGHTLY DIFFERENT COLOUR WHEN YOU CLICK ON THEM//
  //DO  HOVERS AND WORK ON SPELL CHECKING AND BREAKING UP BIG BLOCKS OF TEXT//
